@import "./publicVar.scss";

@function px2Rem( $px ){
    @return $px / $rootFontSize * 1rem
}

@function px2per( $px, $px2:750px ){
	@return ($px / $px2) * 100%; 
} 



.request-loading {
	width: 40%;
	padding: px2Rem(20px) px2Rem(30px);
	background: #fff;
	border-radius: px2Rem(10px);
	z-index: 99;
	position: fixed;
	top: 50%;
	left: 50%;  
	transform: translate(-50%,-50%);
	display: none;
	.load {
		display: inline-block;
		width: px2Rem(46px);
		height: px2Rem(46px);
		border-radius: 100%;
		border-color: $borderColor; 
		border-style: solid;
		border-width: 2px;
		border-bottom-color: #fff;
		animation: loading 1s linear infinite;
		vertical-align: middle;  
	}

	.tip { 
		padding-left: px2Rem(40px); 
	}
}

.load-tip {
	margin: px2Rem(20px) 0;
}

// .request-tip {

// }


/*lodaing 动画*/
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #333;
  width: px2Rem(30px);
  height: px2Rem(30px);
  border-radius: 100%;
  margin: px2Rem(4px);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }

@keyframes loading {
	0% {
		transform: rotate(0);
	}
	100% {  
		transform: rotate(-360deg);
	}
}

/*lodaing 动画*/