@charset "UTF-8";
.request-loading {
  width: 40%;
  padding: 0.26667rem 0.4rem;
  background: #fff;
  border-radius: 0.13333rem;
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; }
  .request-loading .load {
    display: inline-block;
    width: 0.61333rem;
    height: 0.61333rem;
    border-radius: 100%;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 2px;
    border-bottom-color: #fff;
    animation: loading 1s linear infinite;
    vertical-align: middle; }
  .request-loading .tip {
    padding-left: 0.53333rem; }

.load-tip {
  margin: 0.26667rem 0; }

/*lodaing 动画*/
@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #333;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 100%;
  margin: 0.05333rem;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block; }

@keyframes loading {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(-360deg); } }

/*lodaing 动画*/
