.nav-list {
  width: 100%;
  height: 1.33333rem;
  background: #282828;
  position: fixed;
  bottom: 0;
  left: 0; }
  .nav-list .nav-item {
    width: 33.33333%;
    display: inline-block;
    text-align: center; }
    .nav-list .nav-item a {
      color: #c4c4c4; }
    .nav-list .nav-item .icon {
      padding: 0.13333rem 0; }
    .nav-list .nav-item p {
      line-height: 1em; }
    .nav-list .nav-item .active {
      color: #fff; }
