$bg-dark: #EFEFF4;
$progress-color: #08BF06;
$loading-dark: #666;

$height: 3rem;
$fontSize: px2Rem(11px);
$fontColor: #666;
$btnColor: desaturate($bg-dark, 60%);

$pullingMsg: '下拉刷新';
$pullingEnoughMsg: '松开刷新';
$refreshingMsg: '正在刷新...';
$refreshedMsg: '刷新成功';
$loadingMsg: '正在加载...';
$btnLoadMore: '加载更多';
$btnLoadMore: '没有更多';
$transition-duration: .2s;


// @function px2Rem( $px ){
//     @return $px / $rootFontSize * 1rem
// }

// @function px2per( $px, $px2:750px ){
//     @return ($px / $px2) * 100%; 
// }
.tloader-msg:after{
    .state-pulling &{
        content: $pullingMsg
    }

    .state-pulling.enough &{
        content: $pullingEnoughMsg;
    }

    .state-refreshed &{
        content: $refreshedMsg;
    }
}
.tloader-loading:after{
    content: $loadingMsg;

    .tloader-symbol &{
        content: $refreshingMsg;
    }
}
.tloader-btn:after{
    content: $btnLoadMore;
}


.tloader{
    position: relative;

    &.state-pulling{
        // overflow-y: hidden;/
    }
}


.tloader-symbol{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	color: $fontColor;
	text-align: center;
	height: $height;
    overflow: hidden;

    .state- &, .state-reset &{
        height: 0;
    }

    .state-reset &{
        transition: height 0s $transition-duration;
    }
}

.tloader-msg{
    line-height: $height;
    font-size: $fontSize;
    opacity: 0;

    .state-pulling &{
        opacity: 1;

        i{
            display: inline-block;
            font-size: 2em;
            margin-right: .6em;
            vertical-align: middle;
            height: 1em;
            border-left: 1px solid;
            position: relative;
            transition: transform .3s ease;

            &:before,&:after{
                content: '';
                position: absolute;
                font-size: .5em;
                width: 1em;
                bottom: 0px;
                border-top: 1px solid;
            }
            &:before{
                right: 1px;
                transform: rotate(50deg);
                transform-origin: right;
            }
            &:after{
                left: 0px;
                transform: rotate(-50deg);
                transform-origin: left;
            }
        }
    }
    .state-pulling.enough &{
        i{
            transform: rotate(180deg);
        }
    }

    .state-refreshed &{
        opacity: 1;
        transition: opacity 1s;

        i{
            display: inline-block;
            box-sizing: content-box;
            vertical-align: middle;
            margin-right: px2Rem(10px);
            font-size: px2Rem(20px);
            height: 1em;
            width: 1em;
            border: 1px solid;
            border-radius: 100%;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                top: px2Rem(3px);
                left: px2Rem(7px);
                height: px2Rem(11px);
                width: px2Rem(5px);
                border: solid;
                border-width: 0 1px 1px 0;
                transform: rotate(40deg);
            }
        }
    }
}

.tloader-body{
    /*// transform: translate3d(0,0,0);// make over the msg-refreshed*/

    .state-refreshing &{
        transform: translate3d(0,$height,0);
        transition: transform $transition-duration;
    }

    .state-refreshed &{
        // handle resolve within 1s
        animation: refreshed $transition-duration*5;
    }

    .state-reset &{
        transition: transform $transition-duration;
    }
}
@keyframes refreshed {
    0%{transform: translate3d(0,$height,0);}
    50%{transform: translate3d(0,$height,0);}
}


.tloader-footer{
    .state-refreshing &{
        display: none;
    }

    .tloader-btn{
        color: $btnColor;
        font-size: .9em;
        text-align: center;
        // line-height: 1rem;

        .state-loading &{
            display: none;
        }
    }
}

.tloader-loading{
    display: none;
    text-align: center;
    /*line-height: $height;*/
    font-size: $fontSize;
    color: $fontColor;

    .ui-loading{
        font-size: 20px;
        margin-right: .6rem;
    }

    .state-refreshing .tloader-symbol &, .state-loading .tloader-footer &{
        display: block;
    }
}


@keyframes circle {
    100% { transform: rotate(360deg); }
}
.ui-loading{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    width: 1em;
    height: 1em;
    border: 2px solid $loading-dark;
    border-top-color: #fff;
    border-radius: 100%;
    animation: circle .8s infinite linear;

    #ui-waiting &{
        border: 2px solid #fff;
        border-top-color: $loading-dark;
    }
}


@keyframes tloader-progressing {
    0% { width: 0; }
    10%{ width: 40%; }
    20%{ width: 75%; }
    30%{ width: 95%; }
}
@keyframes tloader-progressed {
    0% {
        opacity: 1;
    }
}
.tloader-progress {
    position: relative;

    &:before{
        content: "";
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background-color: $progress-color;
        width: 99%;
        animation: tloader-progressing 9s ease-out;

        /*.ed&{
            opacity: 0;
            width: 100%;
            animation: tloader-progressed 1s;
        }*/
    }
}
