.select-city {
  padding-bottom: 1.44rem; }
  .select-city .checked-list {
    padding: 0.26667rem; }
    .select-city .checked-list .checked-item {
      display: inline-block;
      width: 1.06667rem;
      height: 0.66667rem;
      line-height: 0.66667rem;
      text-align: center;
      background: #ff6767;
      border-radius: 0.13333rem;
      color: #fff;
      margin: 0.13333rem; }
  .select-city .province-list {
    background: #fff; }
    .select-city .province-list .item-content, .select-city .province-list .city-list .city-item {
      height: 1.06667rem;
      line-height: 1.06667rem;
      padding-left: 0.26667rem;
      border-bottom: 1px solid #e0e0e0; }
      .select-city .province-list .item-content .iconfont, .select-city .province-list .city-list .city-item .iconfont {
        margin-right: 0.26667rem;
        color: #999; }
    .select-city .province-list .city-list .city-item {
      padding-left: 0.8rem; }
  .select-city .btn {
    width: 100%;
    height: 1.30667rem;
    line-height: 1.30667rem;
    text-align: center;
    color: #fff;
    background: #2a2a2a;
    position: fixed;
    bottom: 0; }
