.send-record .tab-menu {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  background: #fff; }
  .send-record .tab-menu .menu-item {
    display: inline-block;
    width: 33.33333%;
    text-align: center;
    color: #666; }
  .send-record .tab-menu .active {
    color: #333; }

.send-record .item .time {
  color: #2a2a2a; }

.send-record .item .body-container {
  color: #999; }
  .send-record .item .body-container .title {
    color: #333;
    line-height: 1.6em; }
  .send-record .item .body-container .label {
    padding-top: 0.32rem; }
    .send-record .item .body-container .label .industry {
      margin-right: 21.33333%; }

.send-record .item .footer-container .link-man {
  color: #a6843d; }

.send-record .item .footer-container .remaining-time {
  text-align: right;
  color: #009cff; }

.send-record .item .footer-container .expire {
  color: #999;
  text-align: right; }
